Repository iTwin/bis-schema-validation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iTwin/bis-validation-admins, @naveedkhan8067, @ColinKerr, @christophermlawson

0.2.105 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.105 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.105 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

version bump
  bis-rules/package.json
  common/config/rush/pnpm-lock.yaml
  imodel-schema-validator/package.json
  imodel-schema-validator/src/IModelProvider.ts
  native-schema-locater/package.json
  native-schema-locater/src/SchemaDeserializer.ts
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

version bump
  bis-rules/package.json
  common/config/rush/pnpm-lock.yaml
  imodel-schema-validator/package.json
  imodel-schema-validator/src/IModelProvider.ts
  native-schema-locater/package.json
  native-schema-locater/src/SchemaDeserializer.ts
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

version bump
  bis-rules/package.json
  common/config/rush/pnpm-lock.yaml
  imodel-schema-validator/package.json
  imodel-schema-validator/src/IModelProvider.ts
  native-schema-locater/package.json
  native-schema-locater/src/SchemaDeserializer.ts
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.106 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.106 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

fix audit by ignore list
  common/tools/rush/audit.js
  common/tools/rush/audit_ignoreList.json
  common/tools/rush/utils.js
Owners: @naveedkhan8067, @christophermlawson

fix audit by ignore list
  common/tools/rush/audit.js
  common/tools/rush/audit_ignoreList.json
  common/tools/rush/utils.js
Owners: @naveedkhan8067, @christophermlawson

making ignore list const
  common/tools/rush/audit.js
Owners: @naveedkhan8067, @christophermlawson

making ignore list const
  common/tools/rush/audit.js
Owners: @naveedkhan8067, @christophermlawson

0.2.107 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.107 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

dry-run publish external
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

dry-run publish external
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

dry-run removed
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

dry-run removed
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

0.2.108 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.108 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

Removed extra line
  imodel-schema-validator/LICENSE.md
Owners: @naveedkhan8067, @christophermlawson

Removed extra line
  imodel-schema-validator/LICENSE.md
Owners: @naveedkhan8067, @christophermlawson

0.2.109 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.109 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

fixed .npmignore file
  imodel-schema-validator/.npmignore
Owners: @naveedkhan8067, @christophermlawson

fixed .npmignore file
  imodel-schema-validator/.npmignore
Owners: @naveedkhan8067, @christophermlawson

Adding required readme files
  schema-comparer/README.md
  schema-roundtrip/README.md
Owners: @christophermlawson, @naveedkhan8067

Adding required readme files
  schema-comparer/README.md
  schema-roundtrip/README.md
Owners: @christophermlawson, @naveedkhan8067

0.2.110 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.110 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.111 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.111 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

oidc tool version changed
  imodel-schema-validator/package.json
Owners: @naveedkhan8067, @christophermlawson

oidc tool version changed
  imodel-schema-validator/package.json
Owners: @naveedkhan8067, @christophermlawson

version upgrade
  imodel-schema-validator/package.json
Owners: @naveedkhan8067, @christophermlawson

version upgrade
  imodel-schema-validator/package.json
Owners: @naveedkhan8067, @christophermlawson

readme added and consuming packages from npmjs
  README.md
  common/config/rush/pnpm-lock.yaml
Owners: @iTwin/bis-validation-admins, @naveedkhan8067, @christophermlawson

readme added and consuming packages from npmjs
  README.md
  common/config/rush/pnpm-lock.yaml
Owners: @iTwin/bis-validation-admins, @naveedkhan8067, @christophermlawson

readme updated
  README.md
Owners: @iTwin/bis-validation-admins

readme updated
  README.md
Owners: @iTwin/bis-validation-admins

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @iTwin/bis-validation-admins

.github                                                       @naveedkhan8067 @ColinKerr
.gitignore                                                    @naveedkhan8067 @ColinKerr

rush.json                                                     @naveedkhan8067 @christophermlawson

/bis-rules                                                    @christophermlawson @naveedkhan8067
/common                                                       @naveedkhan8067 @christophermlawson
/imodel-schema-validator                                      @naveedkhan8067 @christophermlawson
/native-schema-locater                                        @christophermlawson @naveedkhan8067
/schema-comparer                                              @christophermlawson @naveedkhan8067
/schema-roundtrip                                             @christophermlawson @naveedkhan8067
/schema-validator                                             @christophermlawson @naveedkhan8067
