Repository iTwin/bis-schema-validation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iTwin/bis-validation-admins, @naveedkhan8067, @ColinKerr, @christophermlawson

0.2.112 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.112 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.113 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.113 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.114 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.114 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

trigger pipeline after version bump
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

trigger pipeline after version bump
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

0.2.115 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.115 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.116 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.116 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.117 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.117 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

trigger removed
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

trigger removed
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

0.2.118 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.118 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

Checkout from GitHub repository
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

Checkout from GitHub repository
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

0.2.119 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.119 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

Publish artifacts as pipeline artifacts
  common/config/azure-pipelines/buildPublishPackages.yaml
  common/config/azure-pipelines/seed-npmjs-npmrc.yaml
  common/config/azure-pipelines/seed-npmrc.yaml
Owners: @naveedkhan8067, @christophermlawson

0.2.120 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.120 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

removed npmrc files
  common/config/azure-pipelines/seed-npmjs-npmrc.yaml
  common/config/azure-pipelines/seed-npmrc.yaml
Owners: @naveedkhan8067, @christophermlawson

Publish pipeline artifacts
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

Publish pipeline artifacts
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

0.2.121 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.122 [skip ci]
  bis-rules/package.json
  common/config/azure-pipelines/buildPublishPackages.yaml
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.123 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/README.md
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

headers added to the test assest schemas
  native-schema-locater/src/test/assets/AecUnits.01.00.01.ecschema.xml
  native-schema-locater/src/test/assets/BisCore.01.00.00.ecschema.xml
  native-schema-locater/src/test/assets/ComprehensiveSchema.01.00.00.ecschema.xml
  native-schema-locater/src/test/assets/CoreCustomAttributes.ecschema.xml
  native-schema-locater/src/test/assets/ECDbMap.02.00.00.ecschema.xml
  native-schema-locater/src/test/assets/ECDbSchemaPolicies.01.00.00.ecschema.xml
  native-schema-locater/src/test/assets/Formats.01.00.00.ecschema.xml
  native-schema-locater/src/test/assets/PartialComprehensiveSchema.ecschema.xml
  native-schema-locater/src/test/assets/Units.01.00.00.ecschema.xml
  schema-comparer/src/test/assets/xml-deserialization/AecUnits.01.00.01.ecschema.xml
  schema-comparer/src/test/assets/xml-deserialization/BisCore.01.00.00.ecschema.xml
  schema-comparer/src/test/assets/xml-deserialization/CoreCustomAttributes.ecschema.xml
  schema-comparer/src/test/assets/xml-deserialization/ECDbMap.02.00.00.ecschema.xml
  schema-comparer/src/test/assets/xml-deserialization/ECDbSchemaPolicies.01.00.00.ecschema.xml
  schema-comparer/src/test/assets/xml-deserialization/Formats.01.00.00.ecschema.xml
  schema-comparer/src/test/assets/xml-deserialization/PartialComprehensiveSchema.ecschema.xml
  schema-comparer/src/test/assets/xml-deserialization/Units.01.00.00.ecschema.xml
  schema-validator/src/test/assets/koqSuppressions/CifUnits.ecschema.xml
  schema-validator/src/test/assets/koqSuppressions/CifUnitsNo.ecschema.xml
  schema-validator/src/test/assets/koqSuppressions/ProcessFunctional.ecschema.xml
  schema-validator/src/test/assets/koqSuppressions/ProcessPhysical.ecschema.xml
  schema-validator/src/test/assets/relationshipSuppressions/ProcessFunctional.ecschema.xml
  schema-validator/src/test/assets/xml-deserialization/BisCore.01.00.00.ecschema.xml
  schema-validator/src/test/assets/xml-deserialization/CoreCustomAttributes.ecschema.xml
  schema-validator/src/test/assets/xml-deserialization/ECDbMap.02.00.00.ecschema.xml
  schema-validator/src/test/assets/xml-deserialization/ECDbSchemaPolicies.01.00.00.ecschema.xml
  schema-validator/src/test/assets/xml-deserialization/Formats.01.00.00.ecschema.xml
  schema-validator/src/test/assets/xml-deserialization/PartialComprehensiveSchema.ecschema.xml
  schema-validator/src/test/assets/xml-deserialization/Units.01.00.00.ecschema.xml
Owners: @christophermlawson, @naveedkhan8067

0.2.124 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.125 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

Update copyright headers and make some minor doc fixes
  bis-rules/LICENSE.md
  bis-rules/README.md
  common/scripts/SchemaValidationRunner.js
  imodel-schema-validator/README.md
  imodel-schema-validator/src/LaunchCodesProvider.ts
  imodel-schema-validator/src/test/Reporter.test.ts
  native-schema-locater/LICENSE.md
  native-schema-locater/README.md
  native-schema-locater/src/SchemaXmlFileLocater.ts
  schema-comparer/README.md
  schema-comparer/bin/index.js
  schema-comparer/src/CollectionSchemaCompareReporter.ts
  schema-comparer/src/FileSchemaCompareReporter.ts
  schema-comparer/src/SchemaCompareReporter.ts
  schema-comparer/src/SchemaComparison.ts
  schema-comparer/src/test/CollectionSchemaCompareReporter.test.ts
  schema-comparer/src/test/FileSchemaCompareReporter.test.ts
  schema-comparer/src/test/SchemaCompareReporter.test.ts
  schema-comparer/src/test/SchemaComparison.test.ts
  schema-comparer/src/test/utilities/utils.ts
  schema-roundtrip/LICENSE.md
  schema-roundtrip/README.md
  schema-roundtrip/src/SchemaRoundTrip.ts
  schema-roundtrip/src/SchemaRoundTrip_cli.ts
  schema-roundtrip/src/test/SchemaRoundtrip.test.ts
  schema-roundtrip/src/test/utilities/utils.ts
  schema-validator/README.md
Owners: @christophermlawson, @naveedkhan8067

Update copyright headers and make some minor doc fixes (#20)
  bis-rules/LICENSE.md
  bis-rules/README.md
  common/scripts/SchemaValidationRunner.js
  imodel-schema-validator/README.md
  imodel-schema-validator/src/LaunchCodesProvider.ts
  imodel-schema-validator/src/test/Reporter.test.ts
  native-schema-locater/LICENSE.md
  native-schema-locater/README.md
  native-schema-locater/src/SchemaXmlFileLocater.ts
  schema-comparer/README.md
  schema-comparer/bin/index.js
  schema-comparer/src/CollectionSchemaCompareReporter.ts
  schema-comparer/src/FileSchemaCompareReporter.ts
  schema-comparer/src/SchemaCompareReporter.ts
  schema-comparer/src/SchemaComparison.ts
  schema-comparer/src/test/CollectionSchemaCompareReporter.test.ts
  schema-comparer/src/test/FileSchemaCompareReporter.test.ts
  schema-comparer/src/test/SchemaCompareReporter.test.ts
  schema-comparer/src/test/SchemaComparison.test.ts
  schema-comparer/src/test/utilities/utils.ts
  schema-roundtrip/LICENSE.md
  schema-roundtrip/README.md
  schema-roundtrip/src/SchemaRoundTrip.ts
  schema-roundtrip/src/SchemaRoundTrip_cli.ts
  schema-roundtrip/src/test/SchemaRoundtrip.test.ts
  schema-roundtrip/src/test/utilities/utils.ts
  schema-validator/README.md
Owners: @christophermlawson, @naveedkhan8067

0.2.126 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.127 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

Update README.md
  README.md
Owners: @iTwin/bis-validation-admins

Security scanning
  .github/workflows/codeql-analysis.yml
Owners: @naveedkhan8067, @ColinKerr

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @iTwin/bis-validation-admins

.github                                                       @naveedkhan8067 @ColinKerr
.gitignore                                                    @naveedkhan8067 @ColinKerr

rush.json                                                     @naveedkhan8067 @christophermlawson

/bis-rules                                                    @christophermlawson @naveedkhan8067
/common                                                       @naveedkhan8067 @christophermlawson
/imodel-schema-validator                                      @naveedkhan8067 @christophermlawson
/native-schema-locater                                        @christophermlawson @naveedkhan8067
/schema-comparer                                              @christophermlawson @naveedkhan8067
/schema-roundtrip                                             @christophermlawson @naveedkhan8067
/schema-validator                                             @christophermlawson @naveedkhan8067
