Repository iTwin/bis-schema-validation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iTwin/bis-validation-admins, @naveedkhan8067, @ColinKerr, @christophermlawson

0.2.96 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.96 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

Merged PR 188808: Build Pipelines Changes for Migration
  common/config/azure-pipelines/buildPublishPackages.yaml
  common/config/azure-pipelines/version-bump.yaml
Owners: @naveedkhan8067, @christophermlawson

Merged PR 188808: Build Pipelines Changes for Migration
  common/config/azure-pipelines/buildPublishPackages.yaml
  common/config/azure-pipelines/version-bump.yaml
Owners: @naveedkhan8067, @christophermlawson

Merged PR 189091: License file added
  LICENSE.md
Owners: @iTwin/bis-validation-admins

Merged PR 189091: License file added
  LICENSE.md
Owners: @iTwin/bis-validation-admins

0.2.97 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.97 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.98 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.98 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.99 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.99 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

git url added
  bis-rules/package.json
  imodel-schema-validator/README.md
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

git url added
  bis-rules/package.json
  imodel-schema-validator/README.md
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.100 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  native-schema-locater/src/test/SchemaDeserializer.test.ts
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.100 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  native-schema-locater/src/test/SchemaDeserializer.test.ts
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

github url added
  package.json
Owners: @iTwin/bis-validation-admins

github url added
  package.json
Owners: @iTwin/bis-validation-admins

get input for imjs_default_relying_party_uri
  imodel-schema-validator/src/IModelProvider.ts
  imodel-schema-validator/src/index.js
  imodel-schema-validator/src/test/IModelProvider.test.ts
Owners: @naveedkhan8067, @christophermlawson

get input for imjs_default_relying_party_uri
  imodel-schema-validator/src/IModelProvider.ts
  imodel-schema-validator/src/index.js
  imodel-schema-validator/src/test/IModelProvider.test.ts
Owners: @naveedkhan8067, @christophermlawson

Test commit
  .gitignore
Owners: @naveedkhan8067, @ColinKerr

0.2.101 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.101 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

publish packages to npmjs
  common/config/azure-pipelines/buildPublishPackages.yaml
  common/config/azure-pipelines/seed-npmjs-npmrc.yaml
Owners: @naveedkhan8067, @christophermlawson

access public
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

release tag added
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

0.2.102 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.102 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.103 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.103 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

Update README.md
  schema-validator/README.md
Owners: @christophermlawson, @naveedkhan8067

publish packages external
  common/config/azure-pipelines/buildPublishPackages.yaml
  common/config/azure-pipelines/seed-npmjs-npmrc.yaml
Owners: @naveedkhan8067, @christophermlawson

publish packages external
  common/config/azure-pipelines/buildPublishPackages.yaml
  common/config/azure-pipelines/seed-npmjs-npmrc.yaml
Owners: @naveedkhan8067, @christophermlawson

publish packages external
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

0.2.104 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.104 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

Checkout from older source
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

Checkout from older source
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

Checkout from older source
  common/config/azure-pipelines/buildPublishPackages.yaml
Owners: @naveedkhan8067, @christophermlawson

imodeljs version bump
  bis-rules/package.json
  common/config/rush/pnpm-lock.yaml
  imodel-schema-validator/package.json
  imodel-schema-validator/src/IModelProvider.ts
  native-schema-locater/package.json
  native-schema-locater/src/SchemaDeserializer.ts
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @iTwin/bis-validation-admins

.github                                                       @naveedkhan8067 @ColinKerr
.gitignore                                                    @naveedkhan8067 @ColinKerr

rush.json                                                     @naveedkhan8067 @christophermlawson

/bis-rules                                                    @christophermlawson @naveedkhan8067
/common                                                       @naveedkhan8067 @christophermlawson
/imodel-schema-validator                                      @naveedkhan8067 @christophermlawson
/native-schema-locater                                        @christophermlawson @naveedkhan8067
/schema-comparer                                              @christophermlawson @naveedkhan8067
/schema-roundtrip                                             @christophermlawson @naveedkhan8067
/schema-validator                                             @christophermlawson @naveedkhan8067
