Repository iTwin/bis-schema-validation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @iTwin/bis-validation-admins, @naveedkhan8067, @ColinKerr, @christophermlawson

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @iTwin/bis-validation-admins

.github                                                       @naveedkhan8067 @ColinKerr
.gitignore                                                    @naveedkhan8067 @ColinKerr

rush.json                                                     @naveedkhan8067 @christophermlawson

/bis-rules                                                    @christophermlawson @naveedkhan8067
/common                                                       @naveedkhan8067 @christophermlawson
/imodel-schema-validator                                      @naveedkhan8067 @christophermlawson
/native-schema-locater                                        @christophermlawson @naveedkhan8067
/schema-comparer                                              @christophermlawson @naveedkhan8067
/schema-roundtrip                                             @christophermlawson @naveedkhan8067
/schema-validator                                             @christophermlawson @naveedkhan8067

Security scanning (#22)
  .github/workflows/codeql-analysis.yml
Owners: @naveedkhan8067, @ColinKerr

0.2.128 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.129 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

wip
  bis-rules/package.json
  common/config/rush/pnpm-lock.yaml
  imodel-schema-validator/src/test/Reporter.test.ts
  native-schema-locater/package.json
Owners: @christophermlawson, @naveedkhan8067

lock file
  common/config/rush/pnpm-lock.yaml
Owners: @naveedkhan8067, @christophermlawson

another lock file
  common/config/rush/pnpm-lock.yaml
Owners: @naveedkhan8067, @christophermlawson

remove it.only
  imodel-schema-validator/src/test/Reporter.test.ts
Owners: @naveedkhan8067, @christophermlawson

0.2.131 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067

0.2.132 [skip ci]
  bis-rules/package.json
  common/config/rush/version-policies.json
  imodel-schema-validator/package.json
  native-schema-locater/package.json
  schema-comparer/package.json
  schema-roundtrip/package.json
  schema-validator/package.json
Owners: @christophermlawson, @naveedkhan8067
